.ms-viewport-spotlight {
    position: relative;
    z-index: 1001;
}

.ms-viewport-spotlight-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .65);
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 1000;
}